.container{
    display: grid;
    grid-template-rows: 0.2fr;
    grid-template-columns: repeat(6,300px);
    column-gap: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    margin-bottom: 10px;
}